<div>
    <h2>Contact Information</h2>
    <p>
    <span class='aboutLine'>
        <%= image_tag("clearbits/window.gif", class:'clearbits') %>&nbsp;http://GregSandell.com</span><br/><span class='aboutLine'><%= image_tag('clearbits/phone.gif', class:'clearbits')%>&nbsp;773-548-5547</span><br/><span class='aboutLine'><%= image_tag('clearbits/mail.gif', class: 'clearbits') %>&nbsp;greg.sandell &lt;at&gt; gmail.com</span>
    </p>

    <h2>Current Engagement</h2>
    <p>Developer at Sears Holding Corporation.</p>
</div>
<% content_for(:sidebar) do %>
    This is the sidebar for the contact page.
    <br>
    <%= render 'links', :link_keys => %w[blog resume sharc publications] %>
    <br>
    <%= render 'blog', :arg => "my blog argument" %>
    <br>
    <%= render 'slideshow', :arg => "my slideshow argument" %>
<% end %>

