<h1>Talks</h1>
<p>
  These are talks I have given on various technologies.  They were originally PowerPoint decks, but the items below link to Google Docs versions of them.
<p/>
<dl>
	<dt>
    <a href="https://docs.google.com/leaf?id=0Bywa4RhvihA4NjAyNGY2OGUtMjgzNy00Y2U0LTk5MWItYzFmMzE5OGUwNTRj&hl=en&authkey=CMzvjQ4">Unit and Integration Tests&nbsp;<%= image_tag("wikipediaExternalPageGold.png", border:"0", alt:"External Page") %></a>
</dt>
	<dd>jUnit testing can encompass 'unit tests', which address isolated code modules, and 'integration tests', which test how modules interact with external resources such as databases, the network and a filesystem.  This was a talk I gave to the CareDiscovery project developer team at Thomson-Reuters Healthcare &amp; Sciences in Evanston, IL.  It was to help clarify the differences between the two types of jUnit testing, and the manner in which they are run. (2011-03-28)</dd>
	<dt>
    <a href="https://docs.google.com/leaf?id=0Bywa4RhvihA4ZTRkZjdmZjktNGNmNS00OGZlLThjMmItY2ViY2U2NGYwNGNm&hl=en&authkey=CM7AhrkD">Development Infrastructures Changes to Support Agile Processes&nbsp;<%= image_tag("wikipediaExternalPageGold.png", border:"0", alt:"External Page") %></a>
</dt>
	<dd>This presentation outlines steps that the CareDiscovery development team at Thomson-Reuters Healthcare &amp; Sciences (Evanston, IL) were taking to adopt agile processes.  Distribute Version Control Systems, Mercurial, Maven and Continuous Integration Systems are covered. (2010-07-28)</dd>
	<dt>
    <a href="https://docs.google.com/present/edit?id=0ASwa4RhvihA4ZGNudGQ2NWtfMTg1aGhobTNmZmo&hl=en&authkey=CMeYgZcD">Upgrading Maven from Version 1 to 2&nbsp;<%= image_tag("wikipediaExternalPageGold.png", border:"0", alt:"External Page") %></a>
</dt>
	<dd>This was a presentation to the CareDiscovery development team at Thomson-Reuters Healthcare &amp; Sciences following the conversion of all projects from Maven 1 to Maven 2.  Issues covered include:  repository layout changes, standardized project layouts and lifecycles, the new plugin architecture, the coordinate system, public repositories, repository servers, pom.xml, dependency scoping and resolution, and techniques for customizing builds. (2010-08-12)</dd>
<dt>
    <a href="https://docs.google.com/leaf?id=0Bywa4RhvihA4NDVhOTc4ZjctOTZjYy00MmU1LWJlZjgtYjJmYWQ2MGM2MTg2&hl=en&authkey=CIDWq9YD">Introducing Spring JDBC&nbsp;<%= image_tag("wikipediaExternalPageGold.png", border:"0", alt:"External Page") %></a>
</dt>
	<dd>This is a brief introduction to Spring JDBC given to the CareDiscovery development team at Thomson-Reuters Healthcare &amp; Sciences as part of a series of discussions for considering technologies to include in the next generation platform. (2011-04-22)</dd>
</dl>
</dl>
<% content_for(:sidebar) do %>
    <%= render 'slideshow', :arg => "my slideshow argument" %>
<% end %>
