<!DOCTYPE html>
<html>
<head>
  <title>Greg Sandell</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="http://www.gregsandell.com">Greg Sandell</a></h1>
			<h2>Javascript Web App Developer</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><%= link_to "Home", root_path %></li>
				<li class=""><%= link_to "Resume", resume_path %></li>
				<li class=""><%= link_to "Code", code_path %></li>
				<li class=""><%= link_to "Talks", talks_path %></li>
				<li class=""><%= link_to "Blog", blog_path %></li>
				<li class=""><%= link_to "Contact", contact_path %></li>
			</ul>
		</div>
    </div>
	<div id="page">
		<div id="content">
			<div id="welcome"> 
                <%= yield %>
            </div>
        </div>
    </div>
	<div id="footer">
		<p id="legal">Copyright &copy; 2007 Greg Sandell. All Rights Reserved. 
		<br/>Page Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
</div>

</body>
</html>
